/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
}

:root {
    --clr-background: white;
    --clr-surface: rgb(245, 249, 252);
    --clr-border: rgb(215, 217, 219);
    --crl-selected-background: rgb(231, 240, 253);
    --clr-selected-border: rgb(43, 112, 191);
    --clr-text: rgb(1, 1, 44);
    --clr-selected-text: rgb(2, 12, 67);


    --pad-sm: 6px;
    --pad-md: 12px;

}